/* Base styles */
body {
    background-color: #f8f8f8;
    color: #333333;
    font-family: "Georgia", serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    min-height: 100vh;
  }

  .header-container {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    padding-right: 5rem;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    background: white;  
}

.header-container h1 {
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
  width: 100%;
  padding-right:5rem;
}


.left-sidebar{
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 0;
  height: 100vh;
  z-index: 1001;
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 2rem;
  background-color: #f8f8f8;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.left-sidebar .closebtn {
  position: absolute;
  top: 1rem;
  right: 25px;
  font-size: 14px;
  margin-left: 50px;
  text-decoration: none;
}

.openbtn {
  font-size: 21px;
  cursor: pointer;
  color: #666;
  padding: 10px 15px;
  border: none;
  padding-left: 2rem;
  background: white;
} 

.openbtn:hover {
  background-color: white;
}

.sidebar-container {
  padding: 1rem;
  align-items: left;
}
  
  @keyframes colorFade {
    0% {
        color: #fbfb98; /* Bright yellow */
    }
    100% {
        color: #333; /* Black */
    }
}

.text-fade {
    animation: colorFade 0.5s forwards; /* seconds duration, forwards to keep the final state */
}

/* Typing Animation */
@keyframes typingDots {
  0% {
      content: '✨';
  }
  33% {
      content: '✨✨';
  }
  66% {
      content: '✨✨✨';
  }
  100% {
      content: '✨✨✨✨';
  }
}

.typing-dots::after {
  content: '\n';
  animation: typingDots 2s steps(4, end) infinite;
  padding-left: 1rem;
}

/* Line Loader Animation */
@keyframes lineLoader {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.line-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background-color: #3498db;
  width: 0;
  z-index: 9999;
  transition: width 0.4s ease;
}

@keyframes handPointing {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

.hand-pointing {
  display: inline-block;
  animation: handPointing 5s forwards;
  font-size: 3rem;
  position: absolute; 
  top: calc(50vh - 1.5rem); ; /* Set initial position */
  left: calc(30vw - 1.5rem); ; /* Set initial position */
  padding: 0.5rem;
  /* z-index: 10000; */
}

.hand-pointing::after {
  content: "touch any verse to analyse!";
  position: absolute;
  left: -2rem;
  width: 220px;
  top: -1.5rem;
  font-size: 1rem;
  color: #333;
  border-radius: 24px;
  background-color: rgb(236, 200, 59);
  padding: 6px 12px;
  box-shadow: 0 -2px -2px rgba(0, 0, 0, 0.3);
}

@keyframes handPointing-menu {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50px);
  }
}

.hand-pointing-menu {
  display: inline-block;
  animation: handPointing 5s forwards;
  font-size: 3rem;
  position: absolute; 
  top: calc(50vh - 1.5rem); ; /* Set initial position */
  left: calc(30vw - 1.5rem); ; /* Set initial position */
  padding: 0.5rem;
  /* z-index: 10000; */
}

.hand-pointing-menu::after {
  content: "Click to see your recent verses!";
  position: absolute;
  left: -2rem;
  width: 220px;
  top: -1.5rem;
  font-size: 1rem;
  color: #333;
  border-radius: 24px;
  background-color: rgb(236, 200, 59);
  padding: 6px 12px;
  box-shadow: 0 -2px -2px rgba(0, 0, 0, 0.3);
}
  /* Typography */
  h1 {
    font-size: 2rem;
    color: #333333;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: normal;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.3rem;
    color: #4a4a4a;
    margin: 3rem 0 1rem;
    font-weight: normal;
  }

  h4 {
    margin-top: 3rem;
  }

  .subheading {
    font-size: 0.8rem;
    color: #4a4a4a;
    margin: 1rem 0;
    font-weight: normal;
  }
  
  /* Form styles */
  form {
    margin: 2rem 0;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666666;
  }
  
  input[type="text"] {
    width: 90%;
    max-width: 400px;
    padding: 0.75rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
  }

  footer {
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.9rem;
    padding: 1rem; /* optional */
    text-align: center; /* optional */
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
  
  button {
    background-color: #666666;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #4a4a4a;
  }

  .submit-button {
    background-color: #fff;
    color: #3389eb;
    border: solid 1px #d1c8dd;
  }

  .submit-button:hover {
    background-color: #eee;
  }
  
  .testaments-columns {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 40%;
    margin-bottom: 4rem;
    text-decoration: none !important;
  }

  .testament-column {
    width: 50%;
  }
  
  .books-columns {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      max-width: 90%;
      margin-bottom: 4rem;
  }

  .book {
    background-color: white;
    color: #333333;
    cursor: pointer;
    margin-left: 5px;
    font-size: 12px;
    text-decoration: none !important;
  }
  
  .column {
      width: 90%;
  }
  
  .column h2 {
    font-size: 1.2rem;
    color: #4a4a4a;
    margin: 1rem 0;
    font-weight: 600;
    margin-top: 2rem;
  }
  
  .column ul {
      list-style-type: none;
      padding: 0;
  }
  
  .column li {
      font-size: 1rem;
      line-height: 1.8;
      color: #333333;
      margin-bottom: 1rem;
  }

  .column a {
    color: #5583ee; /* Your desired color */
    text-decoration: none; /* Your desired text decoration */
}

.testament-column a {
  color: #5583ee; /* Your desired color */
  text-decoration: none; /* Your desired text decoration */
}

.testament-column ul {
  list-style-type: none;
  padding: 0;
}

.testament-column li {
  font-size: 1rem;
  line-height: 1.8;
  color: #333333;
  margin-bottom: 1rem;
}

.testament-column h2 {
  font-size: 1.2rem;
  color: #4a4a4a;
  margin: 1rem 0;
  font-weight: 600;
  margin-top: 2rem;
}

  .bottom-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    z-index: 1000;
    gap: 3rem;
    line-height: 1.1;
}
.bottom-menu a {
    text-decoration: none;
    color: #333;
    text-align: center;
}

.bottom-menu a .menu-name {
  font-size: 13px;
}
.bottom-menu a .icon {
    display: block;
    font-size: 18px;
    color: #666666;
}

.bottom-menu a .icon.active {
  color: #9333eb; /* Change color for active icon */
  /* border-bottom: solid 2px #9333eb; Change border for active icon */
  font-weight: bold; /* Optional: make the icon bold */
}


.bottom-menu a .menu-name.active {
  color: #9333eb; /* Change color for active icon */
  /* border-bottom: solid 2px #9333eb; Change border for active icon */
}
  
  /* Bible passage styles */
  .passage {
    /* border-left: 3px solid #e0e0e0;
    background: linear-gradient(to bottom right, #f0f6ff, #faf6ff);
    border-radius: 6px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border: solid 0.5px #d1c8dd; */
    margin-bottom: 1rem;
  }

  .passage-inside {
    border-left: 4px solid #ddd;
    padding: 0 1rem;
    font-size: 1.125rem;
    max-height: 44vh;
    overflow-y: auto;
    border-radius: 0 0 4px 4px;
  }

  .passage-inside.with-shadow {
    border-left: none;
    box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 4px;
  }

  .icon-title-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

  .passage-inside .icon {
    color: #9333eb; /* text-purple-600 */
    font-size: 22px; /* size={24} */
    margin-right: 0.5rem;
}
  
  .no-underline.requested-reference {
    color: #111;
    margin: 0;
    font-weight: bold;
    font-size: 1.4rem;
    font-style: normal;
    font-family: "Georgia", serif;
}

.suggestion-box {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: #fff;
  z-index: 1000;
}

.suggestion-item {
  padding: 0.5rem;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

  .verse-num {
    font-size: 0.75rem;
    color: #666666;
    vertical-align: super;
    padding-right: 0.3rem;
    font-family: "Georgia", serif;
    font-weight: normal;
  }
  
  .verse-text {
    font-size: 1rem;
    line-height: 1.8;
    color: #333333;
    margin-bottom: 0.5rem;
    display: inline;
  }
  

  .flash-messages {
    margin-top: 20px;
}

.flash-message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.flash-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flash-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

  /* First letter styling */
  .verse-text::first-letter {
    font-size: 1.3em;
    color: #4a4a4a;
  }


  .bottom-sheet {
    display: none;
    position: fixed;
    bottom: -100%;
    left: 10%;
    width: 70vw;
    border-radius: 36px;
    align-items: center;
    background: linear-gradient(135deg, #666666, #999999, #999999, #666666);
    color: #ffffff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 1000;
    transition: bottom 0.5s ease-in-out;
    font-size: 14px;
    border: solid 0px #d1c8dd;
    text-decoration:none;
    cursor: pointer; /* Ensure the cursor changes to a pointer */
  }
  .bottom-sheet.show {
      bottom: 6rem;
  }

.bottom-sheet-content {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Ensure the cursor changes to a pointer */

}
  
  /* Pre-formatted text */
  pre {
    padding: 1rem;
    font-family: "Georgia", serif;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1rem;
    color: #4a4a4a;
    line-height: 1.6;
    margin: 0;
    /* border: 1px solid #e0e0e0;
    border-radius: 6px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1); */
  }

  .analysis-section {
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    /* box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1); */
    padding-bottom: 1rem;
  }
  
  /* Verse popup */
  .verse-popup {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 4px;
    position: absolute;
    z-index: 1000;
    max-width: 300px;
  }

.btn-group {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    font-size: 1rem;
}
.btn-group button {
    padding: 10px;
    background-color: white;
    color: #333333;
    cursor: pointer;
    margin-left: 5px;
    font-size: 12px;
}
.btn-group button.active {
    border: 1px solid #007bff;
    color: #333333;
    background-color: white;
}
  
  .verse-popup .close-popup {
    background: none;
    border: none;
    color: #666666;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
    display: block;
  }
  
  /* Bible verse links */
  .bible-verse {
    color: #4a4a4a;
    text-decoration: none;
    /* border-bottom: 1px dotted #666666; */
    cursor: pointer;
  }
  
  .bible-verse:hover {
    color: #333333;
    border-bottom-style: solid;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .container {
      padding: 1rem;
      margin-bottom: 3rem;
    }
  
    .books-columns {
      gap: 1rem;
      max-width: 94%;
      margin-right: 2rem;
  }

  .column {
    width: 90%;
  }

  .testaments-columns {
    gap: 1rem;
    max-width: 84%;
  }

  .testament-column {

  }

  .book {
    background-color: white;
    color: #333333;
    cursor: pointer;
    margin-left: 5px;
    font-size: 12px;
    text-decoration: none !important;
  }

    h1 {
      font-size: 1.75rem;
    }
  
    .verse-text {
      font-size: 1rem;
    }
  
    pre {
      padding: 1rem;
    }
    .submit-button {
      background-color: #fff;
      color: #3389eb;
      
    }
  }

  /* Styles for iPads (screen widths between 768px and 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .books-columns {
    gap: 1rem; /* Adjust the gap between items */
    max-width: 80%;
}

.column {
  width: 80%;
}

.testaments-columns {
  gap: 1rem;
  max-width: 50%;
}

.testament-column {
  max-width: 50%;
}

}
.breadcrumb {
    margin-bottom: 0;
    font-size: 1rem;
    color: #666666;
    text-align: center;
    font-weight: normal;
}

.sidebar {
  position: fixed;
  top: 0rem;
  right: 0rem;
  width: 4%;
  height: 100vh;
  z-index: 1001;
  overflow-y: auto;
  padding: 1rem;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  position: fixed;
  top: 0rem;
  height: auto;
  overflow-x: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem;
  color: #333333;
  text-align: center;
  margin-bottom: 0;
  font-weight: normal;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 0.5rem;
}

.sidebar a {
    text-decoration: none;
    color: #007bff;
}

.sidebar a:hover {
    text-decoration: underline;
}

.chapter {
    margin-bottom: 2rem;
}

.chapter h3 {
    font-size: 1.3rem;
    color: #4a4a4a;
    margin-bottom: 1rem;
}

.header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1000;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}