<!DOCTYPE html>
<html lang="mal"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ബൈബിൾ റഫറൻസ്</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            console.log("DOM fully loaded and parsed");
            underlineBibleVerses('related-verses');

            document.body.addEventListener('click', function(event) {
                console.log("Click detected on body");  // Debugging statement
                if (event.target.classList.contains('bible-verse')) {
                    console.log("Bible verse clicked");  // Debugging statement
                    const book = event.target.getAttribute('data-book');
                    const chapter = event.target.getAttribute('data-chapter');
                    const verse = event.target.getAttribute('data-verse');
                    console.log(`Fetching verse: ${book} ${chapter}:${verse}`);
                    fetchVerse(book, chapter, verse, event.target, event);
                }
            });

            const btnEn = document.getElementById('btn-en');
            const btnKo = document.getElementById('btn-ko');
            const btnMl = document.getElementById('btn-mal');
            const btnNe = document.getElementById('btn-ne');

            if (btnEn) {
                btnEn.addEventListener('click', function() {
                    setLanguage('en');
                });
            }

            if (btnKo) {
                btnKo.addEventListener('click', function() {
                    setLanguage('ko');
                });
            }

            if (btnMl) {
                btnMl.addEventListener('click', function() {
                    setLanguage('mal');
                });
            }

            if (btnNe) {
                btnNe.addEventListener('click', function() {
                    setLanguage('ne');
                });
            }

        });

        async function replaceMBART_ml(elementId) {
            console.log("Replace MBART function called");  // Debugging statement
            const element = document.getElementById(elementId);
            const typingDots = document.querySelectorAll('.typing-dots');
            if (element) {
                console.log(`Element with ID ${elementId} found`);  // Debugging statement
                console.log(`Content: ${element.innerHTML}`);  // Debugging statement
                typingDots.forEach(dot => dot.style.display = 'inline');  // Show all typing dots
                const response = await fetch('/enhance_ml', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ text: element.innerHTML })
                });
                const data = await response.json();
                typingDots.forEach(dot => dot.style.display = 'none');  // Hide all typing dots
                console.log(`hiding the typing dots for class ${elementId}`) // Hide the typing dots
                if (data.translated_text) {
                    element.innerHTML = data.translated_text;
                    element.classList.add('text-fade');  // Add the animation class
                } else {
                    console.error('Translation failed');
                }
            } else {
                console.error(`Element with ID ${elementId} not found`);
            }
        }

        function underlineBibleVerses(elementId) {
            console.log("Underline Bible verses function called");  // Debugging statement
            const bookNames = [
                "ഉല്പത്തി", "പുറപ്പാട്", "ലേവ്യപുസ്തകം", "സംഖ്യകൾ", "ആവർത്തനം", "യോശുവ", "ന്യായാധിപന്മാർ", "റൂത്ത്",
                "1 ശമൂവേൽ", "2 ശമൂവേൽ", "1 രാജാക്കന്മാർ", "2 രാജാക്കന്മാർ", "1 ദിനവൃത്താന്തം", "2 ദിനവൃത്താന്തം", "എസ്രാ", "നെഹെമ്യാവു",
                "എസ്ഥേർ", "ഇയ്യോബ്", "സങ്കീർത്തനങ്ങൾ", "സദൃശ്യവാക്യങ്ങൾ", "സഭാപ്രസംഗി", "ഉത്തമഗീതം", "യേശയ്യാവു", "യിരെമ്യാവു",
                "വിലാപങ്ങൾ", "യേഹേസ്കേൽ", "ദാനിയേൽ", "ഹോശേയ", "യോവേൽ", "ആമോസ്", "ഓബദ്യാവു", "യോനാ", "മീഖാ",
                "നാഹൂം", "ഹബക്കൂക്ക്", "സെഫന്യാവു", "ഹഗ്ഗായി", "സെഖർയ്യാവു", "മലാഖി", "മത്തായി", "മർക്കോസ്", "ലൂക്കാ", "യോഹന്നാൻ", "പ്രവൃത്തികൾ", "റോമർ", "1 കൊരിന്ത്യർ", "2 കൊരിന്ത്യർ",
                "ഗലാത്യർ", "എഫേസ്യർ", "ഫിലിപ്പിയർ", "കൊലോസ്യർ", "1 തെസ്സലോണിക്ക്യർ", "2 തെസ്സലോണിക്ക്യർ",
                "1 തിമോത്തെയൊസ്", "2 തിമോത്തെയൊസ്", "തീത്തൊസ്", "ഫിലേമോൻ", "എബ്രായർ", "യാക്കോബ്", "1 പത്രൊസ്", "2 പത്രൊസ്",
                "1 യോഹന്നാൻ", "2 യോഹന്നാൻ", "3 യോഹന്നാൻ", "യൂദാ", "വെളിപ്പാട്"
            ];

            const bookNamesPattern = bookNames.join('|');
            const regex = new RegExp(`(${bookNamesPattern}) (\\d+):(\\d+(-\\d+)?)`, 'g');
            const element = document.getElementById(elementId);
            if (element) {
                console.log(`Element with ID ${elementId} found`);  // Debugging statement
                console.log(`Content: ${element.innerHTML}`);  // Debugging statement
                element.innerHTML = element.innerHTML.replace(regex, function(match, book, chapter, verse) {
                    console.log(`Found Bible reference: ${match}`);
                    return `<button class="bible-verse" data-book="${book}" data-chapter="${chapter}" data-verse="${verse}" style="cursor: pointer; background: none; border-bottom: solid 1px black; border-radius: 0px; padding: 2px;">${match}</button>`;
                });
            } else {
                console.error(`Element with ID ${elementId} not found`);
            }
        }

        function fetchVerse(book, chapter, verse, element, event) {
            console.log(`Fetching verse: ${book} ${chapter}:${verse}`);  // Debugging statement
            fetch(`/fetch_verse_mal?book=${book}&chapter=${chapter}&verse=${verse}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Verse data fetched", data);
                    const verseText = data.text || 'Verse not found.';
                    const popup = document.createElement('div');
                    popup.className = 'verse-popup';
                    popup.innerHTML = `<strong>${book} ${chapter}:${verse}</strong>: ${verseText} <button class="close-popup">Close</button>`;
                    document.body.appendChild(popup);
                    const rect = element.getBoundingClientRect();
                    popup.style.top = `${(window.innerHeight - popup.offsetHeight) / 2 + window.scrollY}px`;
                    popup.style.left = `${(window.innerWidth - popup.offsetWidth) / 2 + window.scrollX}px`;
                    popup.style.left = `${rect.left + window.scrollX}px`;

                    popup.querySelector('.close-popup').addEventListener('click', () => {
                        popup.remove();
                    });

                    // Close popup when clicking outside of it
                    document.addEventListener('click', function(event) {
                        if (!popup.contains(event.target) && !event.target.classList.contains('bible-verse')) {
                            popup.remove();
                        }
                    }, { once: true });
                })
                .catch(error => {
                    console.error('Error fetching verse:', error);
                });
        }

        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
        }

        // Close the sidebar if the user clicks outside of it
        document.addEventListener('click', function(event) {
            var sidebar = document.getElementById("mySidebar");
            if (sidebar.style.width === "250px" && !sidebar.contains(event.target) && !event.target.classList.contains('openbtn')) {
                closeNav();
            }
        });

        function setLanguage(lang) {
            fetch(`/set_language?lang=${lang}`)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        location.reload();
                    }
                });
        }

        function startLoader() {
            const loader = document.getElementById('line-loader');
            loader.style.width = '0';
            loader.style.display = 'block';
            loader.style.animation = 'lineLoader 2s linear forwards';
        }

        function stopLoader() {
            const loader = document.getElementById('line-loader');
            loader.style.width = '100%';
            setTimeout(() => {
                loader.style.display = 'none';
            }, 500);
        }

        document.addEventListener('DOMContentLoaded', function() {
            const passageInside = document.getElementById('passageInside');
            const maxHeight = window.innerHeight * 0.34; // Calculate 44vh in pixels
            if (passageInside.scrollHeight > maxHeight) {
                passageInside.classList.add('with-shadow');
            } else {
                passageInside.classList.remove('with-shadow');
            }
        });

    </script>
</head>
<body>
    <div id="mySidebar" class="left-sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Close</a>
        <div class="sidebar-container">
        <h4>Recent Verses</h4>
        {% for query in recent_queries %}
            <a href="{{ url_for('query', reference=query) }}">{{ query }}</a><br>
        {% endfor %}
        <h4>Language</h4>
        <p href id="btn-en" class="{% if session.get('lang') == 'en' %}active{% endif %}" style="cursor: pointer; background: none;">English</p>
        <p href id="btn-ko" class="{% if session.get('lang') == 'ko' %}active{% endif %}"style="cursor: pointer; background: none; padding: 2px;">한글 (Korean)</p>
        <p href id="btn-mal" class="{% if session.get('lang') == 'mal' %}active{% endif %}"style="cursor: pointer; background: none; padding: 2px;">മലയാളം (Malayalam)</p>
        <p href id="btn-ne" class="{% if session.get('lang') == 'ne' %}active{% endif %}"style="cursor: pointer; background: none; padding: 2px;">नेपाली (Nepali)</p>
        <h4>About & Feedback</h4>
        <p><a href="/support_en">About</a></p>
        </div>
    </div>

    <div class="header-container">
        <button class="openbtn" onclick="openNav()"><i class="fa-solid fa-bars-staggered" onclick="event.stopPropagation(); openNav();"></i></button>
        <h1 style="font-size:1.2rem;">ബൈബിൾ റഫറൻസ്</h1>
    </div>
    <div class="container">
        <form method="POST">
            <label for="reference">ബൈബിൾ തിരയുക:</label>
            <input class="no-underline user-input" type="text" id="reference" name="reference" value="{{ user_input if user_input else '' }}" placeholder="മത്തായി 2:3-5, പൗലോസിന്റെ വിചാരണ എവിടെ നടന്നു?">
            <input type="hidden" name="language" value="mal">  <!-- Hidden input for language -->
            <button class="submit-button" type="submit">തിരയുക</button>
        </form>
        <div id="verses"></div>
        {% if response %}
            {% if response.error %}
                <h2>പിശക്:</h2>
                <pre>{{ response.error }}</pre>
            {% else %}
            <div class="icon-title-container">
                <h2 class="no-underline requested-reference">{{ response.requested_reference }}</h2>
            </div>
                <div class="passage">
                    <div class="passage-inside" id="passageInside">
                        {% for verse in response.retrieved_passages %}
                        {{ all_text }}
                            {% if verse.text.startswith('¶') %}
                                <br><span class="verse-num bible-verse" data-book="{{ response.book }}" data-chapter="{{ response.chapter }}" data-verse="{{ verse.verse_num }}">{{ verse.verse_num }}</span>
                                <span class="verse-text">{{ verse.text | replace('¶', '', 1) }}</span>
                            {% else %}
                                <span class="verse-num bible-verse" data-book="{{ response.book }}" data-chapter="{{ response.chapter }}" data-verse="{{ verse.verse_num }}">{{ verse.verse_num }}</span>
                                <span class="verse-text">{{ verse.text }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <h2>പ്രധാന വിഷയങ്ങൾ</h2>
                <div class ="analysis-section">
                    <pre id="analysis">{{response.analysis}} </pre>
                </div>
                <h2>വ്യാഖ്യാനം</h2>
                <div class ="analysis-section">
                    <pre id="explanation">{{response.explanation}}</pre>
                    {% if not response.explanation%}
                    <form method="POST">
                        <input type="hidden" name="reference" value="{{ user_input | e }}">
                        <button type="submit" style="margin-bottom: 1rem;">Retry</button>
                        <span><br>Our servers are loaded, click on the Retry button.</span><br>
                        <span>Please read more about our <a href="/support_en">development efforts</a></span>
                    </form>
                {% endif %}     

                </div>
                <h2>ബന്ധപ്പെട്ട ബൈബിൾ വാക്യങ്ങൾ</h2>
                <div class ="analysis-section">
                    <pre id="related-verses">{{response.related_verses}}</pre>
                {% if not response.explanation or not response.related_verses %}
                    <form method="POST">
                        <input type="hidden" name="reference" value="{{ user_input | e }}">
                        <button type="submit">വീണ്ടും ശ്രമിക്കുക</button>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
        </div>
    </div>
    <div class="bottom-menu">
        <a href="{{ url_for('home_mal') }}">
            <span class="icon active"><i class="fa-solid fa-church"></i></span>
        </a>
        <a href="{{ url_for('books_mal') }}">
            <span class="icon"><i class="fa-solid fa-book-open"></i></span>
        </a>
    </div>
    <!-- <footer>
        <a href="/support_en">About</a>
    </footer> -->
</body>
</html>